/* Reset rapide */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b3b3b3;
    color: #fff;
}

/* HEADER */
header {
    background-color: #4d4d4d;
    padding: 15px 20px;
    font-size: 1.5rem;
}

header .logo {
    margin-left: 10px;
}

/* LAYOUT PRINCIPAL */
main {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    background-color: #666;
    min-height: 100vh;
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar h3 {
    text-align: center;
    font-weight: bold;
    
}
.sidebar li {
    text-align: center;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-bottom: 1px solid #aaa;
}

.sidebar a:hover {
    background: #444;
}

/* CONTENU */
.content {
    flex: 1;
    padding: 20px;
    background-color: #2f4f4f;
}

/* Recherche */
.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
}

/* Ajouter un film */
.add-movie {
    background: #2f4f4f;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 500px;
}

.add-movie h2 {
    margin-bottom: 15px;
    color: #fff;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

.form-group input,
.form-group select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

button {
    width: 50%;
    padding: 12px;
    background: #666;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px auto;
}

button:hover {
    background: #666;
}

/* GRID DE FILMS */
.movies-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.movie-card {
    background-color: #4d4d4d;
    padding: 10px;
    text-align: center;
}

.movie-img {
    background-color: #666;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    margin-bottom: 10px;
}

.rating {
    font-size: 1.2rem;
    color: gold;
}


/* Carte film */
.movie-card {
    background-color: #4d4d4d;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.movie-img {
    background-color: #666;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    margin-bottom: 10px;
    border-radius: 8px;
}

.rating {
    font-size: 1.2rem;
    color: gold;
}

/* ✅ Responsive : 1 film par ligne en dessous de 768px */
@media (max-width: 768px) {
    .movies-grid {
        grid-template-columns: 1fr; /* 1 colonne */
  }
}